table {
    border: medium solid #000000;
    border-collapse: collapse;
    width: 500px;
    text-align: center;
}
td, th {
    border: thin solid;
}
.fillGrey {
    background-color: rgb(177, 177, 177);
}
.fillGreen {
    background-color: rgb(170, 241, 170);
}
.fillRed {
    background-color: rgb(233, 135, 135);
}
.alignR {
    text-align: right;
}
.alignL {
    text-align: left;
}
.alignCenter {
    margin-right: auto;
    margin-left: auto;
    max-width: fit-content;
}