* {
  padding: 0;
  margin: 0;
}
a {
  color: white;
}
a:visited {
  color: white;
}
body {
  background-color: rgb(30, 30, 30);
  margin: auto;
}

h2 {
  font-family: 'Comfortaa', cursive;
  color: white;
  font-size: 2em;
  font-weight: 400;
}
h3 {
  font-family: 'Comfortaa', cursive;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 20%;
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
}
h4 {
  font-family: 'Comfortaa', cursive;
  color: white;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
p {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
}
header {
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: rgb(34, 34, 34);
  justify-items: center;
}
nav {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  list-style-type: none;
}
nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  width: 100%;
}
.social {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  color: white;
  width: 100%;
  margin-bottom: 5px;
}
.social img {
  max-width: 30px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-decoration: none;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
}

            /* NAV Behavior */
nav a:hover {
  background-color: rgb(42, 42, 59);
  color: white;
  font-size: 1.3em;
  font-weight: 700;
  transition-duration: 0.5s;
}
nav a:active {
  background-color: grey;
  color: rgb(22, 22, 22);
  font-size: 1.3em;
  font-weight: 700;
}
body {
  background-color: rgb(42, 42, 59);
}
.iframeHeader {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
      /* FOOTER */
            /* FOOTER Global Propreties */
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  background-color: grey;
}
footer p {
  color: rgb(30, 30, 30);
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  text-align: center;
}

            /* FOOTER Sections */
.footerLogoCreditsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

      /* PORTFOLIO */
            /* PORTFOLIO grid & box */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1100px;
  margin: auto;
  min-height: 100%;
}
.grid a {
  text-decoration: none;
}
.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-size: 100%;
  margin: 10px;
  overflow: hidden;
}
.boxBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: blur(5px);
}
.boxTitle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

            /* PORTFOLIO box behavior */
.box:hover .boxBackground {
  filter: blur(0px);
}

            /* PORTFOLIO Individual box backgrounds*/
.photo {
  background-image: url("../img/photo.jpg");
}
.video {
  background-image: url("../img/video.jpg");
}
.visitesVirtuelles {
  background-image: url("../img/imghome.png");
}
.liveStream {
  background-image: url("../img/live2.jpg");
}
.infographies {
  background-image: url("../img/illustrations.png");
}
.webdesign {
  background-image: url("../img/webdesign.png");
}

      /* CONTACT */
.formAlign {
  display: flex;
  justify-content: center;
}
.fieldBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.formZone {
  display: flex;
  justify-content: center;
}
fieldset {
  display: flex;
  width: 50%;
  justify-content: center;
  border: none;
  font-family: 'Comfortaa', cursive;
  background-color: grey;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}
fieldset ul {
  width: 80%;
}
fieldset li {
  list-style-type: none;
}
.formTextZone {
  width: 100%;
  min-width: 100px;
}
.formButtonZone {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}
.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-style: outset;
  width: 100px;
  font: 12px 'comfortaa', cursive;
  text-shadow:none;
  border-radius: 5px;
  padding: 5px;
}
.formSubmitButton {
  background: #263036;
}
.formResetButton {
  background: #422020;
}
.formSubmitButton:hover {
  background: #9ac0d8;
  color: black;
}
.formResetButton:hover {
  background: #e97272;
  color: black;
}
input, textarea {
  font-family: 'Comfortaa', cursive;
  font-size: medium;
}

      /* WHOAMI */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

      /* RESPONSIVE behavior */
            /* GLOBAL */

            /* PORTFOLIO */
@media (max-width: 1800px) {
  .portfolioGrid {
    max-width: 1100px;
    margin: auto;
  }
@media screen and (max-width: 700px) {
    .contentContainer {
      display: grid;
      width: 80%;
      grid-template-areas:"txt"
                          "img";
    }
}
}
.contentContainer {
  display: grid;
  grid-template-areas: "txt img";
  align-items: center;
  width: 80%;
  margin-bottom: 20 px;
  grid-gap: 20px;
}
.contentContainer:nth-child(odd) {
  grid-template-areas: "img txt";
}
.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  width: 100%;
  margin: 20px;
  grid-area: txt;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
  grid-area: img;
}
