body { 
    display: flex;
    justify-content: center;
}
.grid {
    display: grid;
    grid-gap: 10px;
    max-width: 390px
}
        /* global block propreties */
.object {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 1.5;
    width: 120px;
    height: 50px;
    color: white;
}
        /* single block propreties */
.one {
    grid-column: 1;
    grid-row: 1;
    background-color: darkred;

}
.two {
    grid-column: 2;
    grid-row: 1;
    background-color: teal;

}
.three {
    grid-column: 3;
    grid-row: 1;
    background-color: darkslategray;
}
.four {
    grid-column: 1;
    grid-row: 2;
    background-color: purple;
}
.five {
    grid-column: 2;
    grid-row: 2;
    background-color: orange;
}
.six {
    grid-column: 3;
    grid-row: 2;
    background-color: rgb(39, 77, 99);
}
.seven {
    grid-column: 1;
    grid-row: 3;
    background-color: rgb(184, 65, 44);
}
.eight {
    grid-column: 2;
    grid-row: 3;
    background-color: rgb(21, 133, 11);
}
.nine {
    grid-column: 3;
    grid-row: 3;
    background-color: rgb(53, 44, 85);
}