div1 {
    max-width: 300px;    
}
div2 {
    background-color: lightblue;
}
div3 {
    background-color: darkblue;
}
.tealBack {
    background-color: teal;
}
.lightBlueBack {
    background-color: lightblue;
}
.darkBlueBack {
    background-color: darkslateblue;
}