
.tealBack {
    background-color: #5BC1D3;
}
.lightBlueBack {
    background-color: #54B2E5;
}
.darkBlueBack {
    background-color: #517ABD;
}
.size {
    width: 600px;
}
.position {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}