div1 {
    max-width: 300px;    
}
div2 {
    background-color: lightblue;
}
div3 {
    background-color: darkblue;
}
.tealBack {
    background-color: #5BC1D3;
}
.lightBlueBack {
    background-color: #54B2E5;
}
.darkBlueBack {
    background-color: #517ABD;
}