body { 
    display: flex;
    justify-content: center;
}
.grid {
    display: grid;
    gap: 10px;
    height: 90vh;
    width: 100%;
    grid-template-rows: 50% 20% 30%;
}
        /* global block propreties */
.object {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 1.5;
    color: white;
}
.secondRow {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}
        /* single block propreties */
.one {
    grid-column: 1/ 2;
    grid-row: 1/ 2;
    background-color: darkred;
}
.two {
    grid-column: 2/ 3;
    grid-row: 1/ 2;
    background-color: teal;

}
.three {
    grid-column: 3/ 4;
    grid-row: 1/ 2;
    background-color: darkslategray;
}
.four {
    grid-column: 4/ 5;
    grid-row: 1/ 2;
    background-color: purple;
}
.five {
    grid-column: 1/ 2;
    grid-row: 2/ 3;
    background-color: orange;
}
.six {
    grid-column: 4/ 5;
    grid-row: 2/ 3;
    background-color: rgb(39, 77, 99);
}
.seven {
    grid-column: 1/ 2;
    grid-row: 3/ 4;
    background-color: rgb(184, 65, 44);
}
.eight {
    grid-column: 3/ 4;
    grid-row: 3/ 4;
    background-color: rgb(21, 133, 11);
}
.nine {
    grid-column: 4/ 5;
    grid-row: 3/ 4;
    background-color: rgb(53, 44, 85);
}